

#The following are all the Libraries required to run the code

pyttsx3==2.90	
pywhatkit==4.7
wikipedia==1.4.0	
pyjokes==0.6.0
PyAudio==0.2.11
SpeechRecognition==3.8.1
googlesearch-python==2020.0.2
DateTime==4.3
